<div class="comment-item">
  <div class="comment-user-info">
    <a href="http://www.facebook.com/app_scoped_user_id/<%=facebook_id %>"><div class = "comment-user-image"><img src = <%=userimage%>></div>
    <div class = "comment-name"><%= username %></div></a>
  </div>
  <div class="comment-content"><%= content %></div>
  <div class = "comment-time"><%= timeago %> ago</div>
</div>
