<div class="comment-item">

  <div class="comment-user-info">
    <a href="/users/<%= comment.user.id %>/public">
      <div class = "comment-user-image">
        <img src ="<%= comment.user.image_url %>">
      </div>
      <div class = "comment-name">
        <%= username %>
      </div>
    </a>
    <% if comment.user.id == current_user.id %>
      <div class= "delete-button">
        <%= link_to "x", event_comment_path( event.id, comment.id  ), method: :delete %>
      </div>
    <% end %>
  </div>
  <div class="comment-content"><%= content %></div>
  <div class = "comment-time"><%= timeago %> ago</div>
</div>
