
<div class="new-comment-header">Create a New Event</div>

<%= form_for @event do |f| %>
  <div class="new-event-form">
    <ul class="error-messages">
      <% @event.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :activity_id  %>
      <%= f.collection_select :activity_id, @activities, :id, :name, include_blank: true %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :date %>
      <%= f.datetime_select :date %>
    </p>
    <p>
      <%= f.label :address %> <span class="form-instructions">(i.e., "351 W Hubbard St., Chicago, IL" or "Millenium Park, Chicago, IL")</span>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
