<script src="https://js.pusher.com/3.0/pusher.min.js"></script>

<% if params[:skip] %>
  <div id = "interests-welcome">Welcome to Get Together!</div>
<% end %>

<div id="interests-header"><h3>SELECT YOUR EVENT CATEGORIES AND SUB-ACTIVITIES</h3></div>

<% if params[:skip] %>
  <div id = "defer-interests"><a href = "/users/<%=@user.id%>/allinterests">or skip for now...</a></div>
<% end %>

<div class = "border-line"></div>

<div id="event-radius-preference-container">
  <span>See Events within</span>
  <%= form_for @user do |f| %>
    <%= f.collection_select :mile_preference, [1,2,5,10,15,20,50,100,200], :to_i, :to_i, include_blank: false %> miles
  <% end %>

</div>

<div id = "categories-container">
  <%=render partial: 'interests/show'  %>
</div>

<div id = "save-interests"><a class="button" href="/users/<%= @user.id %>">Save Interests</a></div>


<script>
  $(document).ready(function() {
    $('#user_mile_preference').change(function() {
      var data = $(this).val();

      ajaxReq = $.ajax({
        url: '/users/mile_preference_handler',
        method: 'post',
        data: {data: data},
        dataType: 'json'
      });
      ajaxReq.done(function(response) {
        $('.edit_user').append("<span id='flash-notice-updated' style='color:#2DB82D'> Updated!</span>")
        $('#flash-notice-updated').delay(500).fadeOut(1000)

        setTimeout(function(){
            $('#flash-notice-updated').remove();
        }, 1500);
      });

    });
  });

</script>
