<script src="https://js.pusher.com/3.0/pusher.min.js"></script>

<% if params[:skip] %>
  <div id = "interests-welcome">Welcome to Get Together!</div>
<% end %>

<div id="interests-header"><h3>SELECT YOUR EVENT CATEGORIES AND SUB-ACTIVITIES</h3></div>

<% if params[:skip] %>
  <div id = "defer-interests"><a href = "/users/<%=@user.id%>/allinterests">or skip for now...</a></div>
<% end %>

<div class = "border-line"></div>

<!--
<script>
$(document).ready(function(){
  $('#priv_future').on('click',function(){
    $.ajax({url: "/users/priv_f", method: "post"});
  });
    $('#priv_past').on('click',function(){
    $.ajax({url: "/users/priv_f", method: "post"});
  });
});
</script>
--> 

<div id="user_settings">
  <center>
    <div id="privacy_settings">
      <% future_checked = "" %>
      <% past_checked = "" %>
      <% if @user.show_future_events == true %>
        <% future_checked = "checked" %>
      <% end %>

      <% if @user.show_past_events == true %>
        <% past_checked = "checked" %>
      <% end %>
      Publicly Display My Created Events: 

      Future: <input style="position: relative; opacity: 1" id="priv_future" type="checkbox" <%= future_checked %> onClick='$.ajax({url: "/users/priv_f", method: "post"});'>&nbsp;&nbsp;
      Past: <input style="position: relative; opacity: 1"  id="priv_past"  type="checkbox"  <%= past_checked %> onClick='$.ajax({url: "/users/priv_p", method: "post"});'>
    </div>

    <div id="event-radius-preference-container">
      <span>See Events within</span>
      <%= form_for @user do |f| %>
        <%= f.collection_select :mile_preference, [1,2,5,10,15,20,50,100,200], :to_i, :to_i, include_blank: false %> miles
      <% end %>
    </div>
    </center>

</div>


<div id = "categories-container">
  <%=render partial: 'interests/show'  %>
</div>

<div id = "save-interests"><a class="button" href="/">Save Interests</a></div>

<div id = "page-footer"></div>
<script>
  $(document).ready(function() {
    $('#user_mile_preference').change(function() {
      var data = $(this).val();

      ajaxReq = $.ajax({
        url: '/users/mile_preference_handler',
        method: 'post',
        data: {data: data},
        dataType: 'json'
      });
      ajaxReq.done(function(response) {
        $('.edit_user').append("<span id='flash-notice-updated' style='color:#2DB82D'> Updated!</span>")
        $('#flash-notice-updated').delay(500).fadeOut(1000)

        setTimeout(function(){
            $('#flash-notice-updated').remove();
        }, 1500);
      });

    });
  });

</script>
