
  <div class="news-feed flip">
    <% if @user_appealing_events %>
      <div class="card">

        <div class="news-feed-proximity face front">
          <% @user_appealing_events_by_proximity.each do |event| %>
            <a href="/events/<%= event[3] %>">
              <div class="appealing-event">
                <div class="appealing-event-left">
                  <p class="appealing-event-name"><strong><%= event[0].capitalize %></strong>
                    <% if event[5].today? %>
                      <span class="happening-today">Happening today!</span>
                    <% end %>
                  </p>
                  <p class="appealing-event-time"><%= event[5].strftime("%l:%M%p, %A, %b., %d") %></p>
                  <p class="appealing-event-address"><%= event[4] %></p>
                </div>
                <div class="appealing-event-right">
                  <p class="appealing-event-distance"><%= '%.2f' % event[6] %> mi</p>
                </div>
              </div>
            </a>
          <% end %>
        </div>

        <div class="news-feed-soonest face back">
          <% @user_appealing_events_by_date.each do |event| %>
            <a href="/events/<%= event[3] %>">
              <div class="appealing-event">
                <div class="appealing-event-left">
                  <p class="appealing-event-name"><strong><%= event[0].capitalize %></strong>
                    <% if event[5].today? %>
                      <span class="happening-today">Happening today!</span>
                    <% end %>
                  </p>
                  <p class="appealing-event-time"><%= event[5].strftime("%l:%M%p, %A, %b., %d") %></p>
                  <p class="appealing-event-address"><%= event[4] %></p>
                </div>
                <div class="appealing-event-right">
                  <p class="appealing-event-distance"><%= '%.2f' % event[6] %> mi</p>
                </div>
              </div>
            </a>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

