<div id = "event-form">
  <div id="user-activities" style="display:none;"><%=current_user_activities%></div>


  <%= form_for @event do |f| %>
    <div class="new-event-form form-group">
    <h1 class="new-event-header">Create a New Event</h1>
      <ul class="error-messages">
        <% @event.errors.full_messages.each do |error| %>
        <li><%= error %></li>
        <% end %>
      </ul>
      <div class="border-line"></div>
      <p>
        Event Name:<br>
        <%= f.text_field :name, :placeholder => "Game of Thrones Watch Party" %>
      </p>
      <p>
        <div id = "activity-container">
          Activity:<br>
          <span id = "selected-activity"></span>
          <span id="activity-cancel">⊗</span>
          <input type = "text" id = "activity" value="" placeholder="TV">
          <div id= "suggestions-container"></div>
            <input id = "activity-input" type = "hidden" name = "event[activity_name]" value = "<%= (@event.activity.name unless @event.activity.nil?) || @activity.name %>">
        </div>
      </p>

      <p>
        <% if @new_activity_flag %>
          <div id="new-activity-category-container">
        <% else %>
          <div id="new-activity-category-container" class="hidden">
        <% end %>
          <%= f.label "Categories (check all that apply):" %><br>
            <%= f.collection_check_boxes :all_category_ids, Category.all, :id, :name do |b| %>
              <div class="collection-check-box">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
        </div>

      </p>
      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description, :placeholder => "The new season of Game of Thrones starts this week. Let's meet up and watch it!" %>
      </p>
      <p>
        <div class="field">
          <%= f.label "Date:" %><br>
            <%= f.text_field :event_date, :class => "datepicker" %>
           <%= f.label "Time:" %>
           <%= f.time_select :event_time, :ampm => true, :minute_step => 15 %>
        </div>
      </p>
      <p>
        <%= f.label "Location:" %><br>
        <%= f.text_field :address, :placeholder =>"(i.e. '351 W Hubbard St., Chicago, IL')", :onFocus => "geolocate()" %>
      </p>
      <p>
        <%= f.label "Maximum Number of Participants:" %><br>
        <%= f.select :max_participants, options_for_select(max_number_o_participants, :max_participants) %>
      </p>
      <p>
        <%= f.submit :class => "real-button" %>
      </p>
    </div>
  <% end %>
  <div class="border-line"></div>
</div>

<script>

  // Prevents form from submitting when pressing enter
  $('#event_address').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
      e.preventDefault();
      return false;
    }
  });

  var placeSearch, autocomplete;

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('event_address')),
        {types: ['geocode']});

  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvBDiolWNKT2Nn0wteaKxxKPQbk8ocjI&libraries=places&callback=initAutocomplete" async defer>
</script>

<script>
  $(function() {
    $('.datepicker').datepicker();
  });
</script>
