<div class="news-feed-container">

  <h1>All Events</h1>

  <div class="new-event">
    <%= link_to "Create a New Event", new_event_path %>
  </div>

  <div id="all-events-map"></div>

  <div class="news-feed-sorting">
    <button class="news-feed-sorting-button">Soonest</button>
  </div>
  <div class="news-feed flip">
    <% if @user_appealing_events %>
      <div class="card">

        <div class="news-feed-proximity face front">
          <% @user_appealing_events_by_proximity.each do |event| %>
            <a href="/events/<%= event[3] %>">
              <div class="appealing-event">
                <div class="appealing-event-left">
                  <p class="appealing-event-name"><strong><%= event[0].capitalize %></strong>
                    <% if event[5].today? %>
                      <span class="happening-today">Happening today!</span>
                    <% end %>
                  </p>
                  <p class="appealing-event-time"><%= event[5].strftime("%l:%M%p, %A, %b., %d") %></p>
                  <p class="appealing-event-address"><%= event[4] %></p>
                </div>
                <div class="appealing-event-right">
                  <p class="appealing-event-distance"><%= '%.2f' % event[6] %> mi</p>
                </div>
              </div>
            </a>
          <% end %>
        </div>

        <div class="news-feed-soonest face back">
          <% @user_appealing_events_by_date.each do |event| %>
            <a href="/events/<%= event[3] %>">
              <div class="appealing-event">
                <div class="appealing-event-left">
                  <p class="appealing-event-name"><strong><%= event[0].capitalize %></strong>
                    <% if event[5].today? %>
                      <span class="happening-today">Happening today!</span>
                    <% end %>
                  </p>
                  <p class="appealing-event-time"><%= event[5].strftime("%l:%M%p, %A, %b., %d") %></p>
                  <p class="appealing-event-address"><%= event[4] %></p>
                </div>
                <div class="appealing-event-right">
                  <p class="appealing-event-distance"><%= '%.2f' % event[6] %> mi</p>
                </div>
              </div>
            </a>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>

<script>
  var events = <%= raw @user_appealing_events_by_proximity.as_json %>
  var currentLocation = <%= raw @current_location.as_json %>

  // JS for producing google map with marker
  function initMap() {

    var map = new google.maps.Map(document.getElementById('all-events-map'), {
      zoom: 12,
      center: {lat: currentLocation[0], lng: currentLocation[1]}
    });

    setMarkers(map);
  };

  function setMarkers(map) {
    var image = {
      url: 'http://b.fastcompany.net/asset_files/-/2014/11/13/poop.png',
      size: new google.maps.Size(26, 26),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(0, 26)
    };

    var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18, 1],
      type: 'poly'
    };

    var infoWindow = new google.maps.InfoWindow({
      content: contentString,
      maxWidth: 200
    });

    for (var i = 0; i < events.length; i++) {
      var event = events[i]
      var contentString = event[0];

      var marker = new google.maps.Marker({
        position: {lat: event[1], lng: event[2]},
        map: map,
        icon: image,
        shape: shape,
        title: event[0],
        zIndex: event[3],
        info: contentString
      });

      google.maps.event.addListener(marker, 'click', function() {
        infoWindow.setContent(this.info);
        infoWindow.open(map, this);
      });
    };
  }

  $(document).ready(function(){
    // Probably should update to do an ajax request but hey it's functional!
    $('.news-feed-sorting-button').on('click', function(event){
      $('.card').toggleClass('flipped');

      if($(this).text() === 'Soonest') {
        $(this).text('Proximity');
      } else {
        $(this).text('Soonest');
      }
    });
  });

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvBDiolWNKT2Nn0wteaKxxKPQbk8ocjI&callback=initMap">
</script>
