<script>

</script>
<div id="user-activities" style="display:none;"><%=current_user_activities%></div>
<div class="new-event-header">Create a New Event</div>

<%= form_for @event do |f| %>
  <div class="new-event-form">
    <ul class="error-messages">
      <% @event.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
    <div class="form-group move-down">
        <label for="Autocomplete">Address:</label>
        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result2" details="details2" options="options2"/>
    </div>
</p>
<div id = "activity-container">
Activity: <input type = "text" id = "activity" value="">
<div id= "suggestions-container">
</div>
<input id = "activity-input" type = "hidden" name = "event[activity]" value="">
</div>
<div id = "activity-display">Selected: <span id = "selected-activity"></span></div>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :date %>
      <%= f.datetime_select :date %>
    </p>
    <p>
      <%= f.label :address %> <span class="form-instructions">(i.e., "351 W Hubbard St., Chicago, IL" or "Millenium Park, Chicago, IL")</span>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
