<div class="event-container">
  <div id = "event-id" style = "display:none;"><%=@event.id%></div>
  <div class = "event-name">
  <h2><%= @event.name %></h2>
  <h4><%= @event.activity.name %></h4>
</div>
<div class = "border-line"></div>
<div id="event-details-map"></div>
<div class = "border-line"></div>
<div class = "created-by">Created by:</div>
<div class = "event-creator">
  <a href="http://www.facebook.com/app_scoped_user_id/<%= @event.creator.facebook_id %>"><div id = "tiny-image"><img src = <%=@event.creator.image_url%>></div> <div class = "creator-name"> <%= @event.creator.name %></div></a>
</div>
<div class="event-details">
  <h4>When:</h4>
  <p><%= @event.date.localtime.strftime("%A, %b %d, %Y at %I:%M %p") %></p>

  <h4>Description:</h4>
  <p><%= @event.description %></p>

  <h4>Location:</h4>
  <p>
    <% if @event.longitude.nil? %>
      Please contact the event organizer for more information
    <% else %>
      <%= @event.address %>
    <% end %>
  </p>
  <% if @event.max_participants == 0 %>
    <h4><span id="spots">Unlimited Spots</span></h4>
  <% else %>
    <h4><span id="spots"><%=@event.max_participants - @event.joined_users.count %></span> Spot(s) Left</h4>
  <% end %>
</div>

  <div class="event-buttons">
    <% if current_user %>
      <% if @event.creator.id == current_user.id %>
       <button style="font-family: verdana;" class="real-button " id="edit-button"><%= link_to "EDIT EVENT", edit_event_path(@event) %></button>
       <button  style="font-family: verdana;" class="real-button " id="delete-button"><%= link_to "DELETE EVENT", event_path(@event), method: :delete %></button>
      <% elsif @event.open? == false %>
        <h4 id="eventstatus">This Event is Full.</h4>
      <% elsif !current_user.joined_events.include?(@event) %>
        <button class="real-button" id="join-event" event="<%= @event.id %>">Join this Event!</button>
      <% else %>
        <button class="real-button" id="join-event" event="<%= @event.id %>">Un-Join this Event</button>
      <% end %>
    <% end %>
  </div>

  <div class = "border-line"></div>

  <div class="event-comments">
  <h4 style="font-family: verdana;">EVENT COMMUNICATION </h4>
  <div id = "comment-container">
    <% @event.comments.each do |comment| %>
    <div class="comment-item">

      <div class="comment-user-info">
        <a href="link_to path"><div class = "comment-user-image"><img src = <%=comment.user.image_url%>></div>

        <div class = "comment-name"><%= comment.user.name %></div></a>

        <% if comment.user.id == current_user.id %>
          <div class= "delete-button">
            <%= link_to "x", event_comment_path( @event.id, comment.id  ), method: :delete, :class => "delete-link" %>
          </div>
        <% end %>

      </div>

      <div class="comment-content"><%= comment.content %></div>

      <div class = "comment-time"><%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</div>
    </div>

  <% end %>
</div>

    <div class="new-comment">
      <%= form_for [ @event, @comment ] do |f| %>
        <ul class="error-messages">
          <% @event.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>

<style>
textarea {
  height: 100px;
  width: 500px;
  position: relative;
  left: 0;
}
</style>
        <%= f.text_area :content, :placeholder =>"Comment here..." %>
        <br><br>
      <div class = "button" id = "comment-button">Leave Comment</div>
    </div>
      <% end %>
  </div>



  <br><br>
</div>

<script>
$(document).ready(function(){
$(document).on("click", ".delete-button a", function(event){
      event.preventDefault();
      debugger;
      console.log("hi");

      // $.ajax({
      //   method:
      //   url: "/events/"+ eventID + "/comments" + commentID
      // })
    });
});
  // JS for producing google map with marker
  var myLatLng;
  <% if @event.longitude.nil? %>
    myLatLng = {lat: <%= @current_location[0] %>, lng: <%=  @current_location[1] %> }
  <% else %>
    myLatLng = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
  <% end %>

  function initMap() {

    var map = new google.maps.Map(document.getElementById('event-details-map'), {
      zoom: 13,
      center: myLatLng
    });

    // only set marker if the event has a longitude
    <% if !@event.longitude.nil? %>
      setMarkers(map);
    <% end %>

    // Recenter the map on window resize
    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(myLatLng);
    });
  };

  function setMarkers(map) {
    var pinColor;

    var eventDate = new Date("<%= @event.date %>");
    var todaysDate = new Date();

    if(eventDate.setHours(0,0,0,0) == todaysDate.setHours(0,0,0,0)) {
      pinColor = "FF0000";
    } else {
      pinColor = "73B5AC";
    };

    var image = {
      url: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + pinColor,
      size: new google.maps.Size(21, 34),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(10, 34)
    };

    var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18, 1],
      type: 'poly'
    };

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: image,
      shape: shape,
      title: 'Playa playa',
      zIndex: 2
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    var contentString = "<%= @event.address %>"

    var infowindow = new google.maps.InfoWindow({
      content: contentString,
      maxWidth: 200
    });
  }

  $(document).ready(function(){
    $('body').on('click','#join-event', function(e) {
      var eventID = $(this).attr("event");
      var button = $(this);
      var currentSpot = $("#spots").text()
      $.ajax({
        url: "/users/ajax_join_event/" + eventID,
        method: "post",
        data: {}
      }).done(function (response) {
        if (response["status"] == 0) {
          $("#join-event").text("Join this Event!");
          $('#eventstatus').text("You have not joined this event");
          $("#spots").text(parseInt(currentSpot) + 1)
        } else {
          $("#join-event").text("Un-Join this Event");
          $('#eventstatus').text("You are attending this event");
          $("#spots").text(parseInt(currentSpot) - 1)
        };
      }).fail(function() {
        console.log("Error joining/unjoining event!");
      });
    })
  });

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvBDiolWNKT2Nn0wteaKxxKPQbk8ocjI&callback=initMap">
</script>
