<div class="event-details">

  <h2><%= @event.name %></h2>
  <h4><%= @event.activity.name %></h4>
  <p>Created by: <%= @event.creator.email %> </p>

  <h4>When:</h4>
  <p><%= @event.date %></p>

  <h4>Description:</h4>
  <p><%= @event.description %></p>

  <h4>Location:</h4>
  <p><%= @event.address %></p>
  <div id="event-details-map"></div>

  <h4>Join this Event:</h4>
  <button id="join-event" event="<%= @event.id %>">Join this event!</button>

</div>

<script>
  $(document).ready(function(){
    $('body').on('click','#join-event', function(e) {
      var eventID = $(this).attr("event");
      var button = $(this);
      $.ajax({
        url: "/users/ajax_join_event/" + eventID,
        method: "post",
        data: {}
      }).done(function (response) {
        console.log("event!");
        $("#join-event").text("Event Joined");
      }).fail(function() {
        console.log("Error joining event!");
      });
    })
  });

  // JS for producing google map with marker
  function initMap() {
    var myLatLng = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};

    var map = new google.maps.Map(document.getElementById('event-details-map'), {
      zoom: 13,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Playa playa'
    });

  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvBDiolWNKT2Nn0wteaKxxKPQbk8ocjI&callback=initMap">
</script>



