<div class="event-container">
  <div id = "event-id" style = "display:none;"><%=@event.id%></div>
  <div class = "event-name">
  <h2><%= @event.name %></h2>
  <h4><%= @event.activity.name %></h4>
</div>
<div class = "border-line"></div>
<div id="event-details-map"></div>
<div class = "border-line"></div>
<div class = "created-by">Created by:</div>
<div class = "event-creator">
  <a href="http://www.facebook.com/app_scoped_user_id/<%= @event.creator.facebook_id %>"><div id = "tiny-image"><img src = <%=@event.creator.image_url%>></div> <div class = "creator-name"> <%= @event.creator.name %></div></a>
</div>
<div class="event-details">
  <h4>When:</h4>
  <p><%= @event.date.localtime.strftime("%A, %b %d, %Y at %I:%M %p") %></p>

  <h4>Description:</h4>
  <p><%= @event.description %></p>

  <h4>Location:</h4>
  <p><%= @event.address %></p>
</div>

  <div class="event-buttons">
    <% if current_user %>
      <% if @event.creator.id == current_user.id %>
       <button class="real-button " id="edit-button"><%= link_to "Edit this event", edit_event_path(@event) %></button>
       <button class="real-button " id="delete-button"><%= link_to "Delete this event", event_path(@event), method: :delete %></button>
      <% elsif @event.open? == false %>
        <h4 id="eventstatus">This Event is Full.</h4>
      <% elsif !current_user.joined_events.include?(@event) %>
        <button class="real-button" id="join-event" event="<%= @event.id %>">Join this Event!</button>
      <% else %>
        <button class="real-button" id="join-event" event="<%= @event.id %>">Un-Join this Event</button>
      <% end %>
    <% end %>
  </div>

  <div class = "border-line"></div>

  <div class="event-comments">
  <h4>Comments:</h4>
  <div id = "comment-container">
    <% @event.comments.each do |comment| %>
    <div class="comment-item">
      <div class="comment-user-info">
        <a href="http://www.facebook.com/app_scoped_user_id/<%= comment.user.facebook_id %>"><div class = "comment-user-image"><img src = <%=comment.user.image_url%>></div>
        <div class = "comment-name"><%= comment.user.name %></div></a>
      </div>
      <div class="comment-content"><%= comment.content %></div>
      <div class = "comment-time"><%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</div>
    </div>

  <% end %>
</div>

    <div class="new-comment">
      <%= form_for [ @event, @comment ] do |f| %>
        <ul class="error-messages">
          <% @event.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>

        <%= f.text_area :content, :placeholder =>"comment here..." %>

      <div class = "button" id = "comment-button">Leave Comment</div>
    </div>
      <% end %>
  </div>



  <br><br>
</div>

<script>
  // JS for producing google map with marker
  var myLatLng = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
  function initMap() {

    var map = new google.maps.Map(document.getElementById('event-details-map'), {
      zoom: 13,
      center: myLatLng
    });

    setMarkers(map);

    // Recenter the map on window resize
    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(myLatLng);
    });
  };

  function setMarkers(map) {
    var pinColor;

    var eventDate = new Date("<%= @event.date %>");
    var todaysDate = new Date();

    if(eventDate.setHours(0,0,0,0) == todaysDate.setHours(0,0,0,0)) {
      pinColor = "FF0000";
    } else {
      pinColor = "73B5AC";
    };

    var image = {
      url: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + pinColor,
      size: new google.maps.Size(21, 34),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(10, 34)
    };

    var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18, 1],
      type: 'poly'
    };

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: image,
      shape: shape,
      title: 'Playa playa',
      zIndex: 2
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    var contentString = "<%= @event.address %>"

    var infowindow = new google.maps.InfoWindow({
      content: contentString,
      maxWidth: 200
    });
  }

  $(document).ready(function(){
    $('body').on('click','#join-event', function(e) {
      var eventID = $(this).attr("event");
      var button = $(this);
      $.ajax({
        url: "/users/ajax_join_event/" + eventID,
        method: "post",
        data: {}
      }).done(function (response) {
        if (response["status"] == 0) {
          $("#join-event").text("Join this Event!");
          $('#eventstatus').text("You have not joined this event");
        } else {
          $("#join-event").text("Un-Join this Event");
          $('#eventstatus').text("You are attending this event");
        };
      }).fail(function() {
        console.log("Error joining/unjoining event!");
      });
    })
  });

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvBDiolWNKT2Nn0wteaKxxKPQbk8ocjI&callback=initMap">
</script>
