<style>
  #eventshowtop {}
  #topleft {
/*  display: inline-block;
float: left;*/
}

#topright {
/*  display: inline-block;
float: right;*/
}

#attendee_pics {
  width: 100%;
}

#attendees_buttons {
  display: block;
  position: relative;
  margin-left: 100px;
}

#left {
  width: 49%;
  float: left;
}
#right {
  width: 49%;
  float: right;
}
textarea {
  height: 100px;
  width: 500px;
  position: relative;
  left: 0;
}

#attendee_pics {
  border: 1px solid blue;
  width: 80%;
  display: block;
}

.interest_1 {
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 200px;
}

.interest_2 {
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 200px;
}


</style>

<div id = "event-id" style = "display:none;">
  <%=@event.id%>
</div>

    <div id="left">
<br>

      <div class = "event-name">
        <h2><%= @event.name.upcase %></h2>
        <h4><%= @event.activity.name %></h4>
      </div>

      <div class="event-details">
        <div class = "event-creator">
          <span style="font-weight: bold;">Created by:</span>
          <br>
          <a href="/users/<%= @event.creator.id %>/public">
            <div id = "tiny-image">
              <img src = <%=@event.creator.image_url%>>
            </div>
            <div class = "creator-name">
              <%= @event.creator.name %>
            </div>
          </a>
        </div>

        <h4>When:</h4>
        <p><%= @event.date.localtime.strftime("%A, %b %d, %Y at %I:%M %p") %></p>

        <h4>Description:</h4>
        <p><%= @event.description %></p>

        <h4>Location:</h4>
        <p>
          <% if @event.longitude.nil? %>
          Please contact the event organizer for more information
          <% else %>
          <%= @event.address %>
          <% end %>
        </p>
        <% if @event.max_participants == 0 %>
        <h4><span id="spots">Unlimited Spots Available</span></h4>
        <% else %>
        <h4><span id="spots"><%= pluralize @event.open_spots, 'Spot' %> Left</span></h4>
        <% end %>

        <h4 id="see-attendees">Attendees</h4>
        <% @attendees.each do |attendee| %>
        <a href="/users/<%= attendee.id %>">
          <div class="profile-circle" style="display: inline-block;">
            <img src=<%= attendee.image_url %> alt="Attendee Pic" >
          </div>
        </a>
        <% end %>
      </div>
        <br><br>
      <div class = "border-line" style="clear: both;"></div>
      <h4 style="font-family: verdana; position:relative; left: 50px;">EVENT COMMUNICATION </h4>
      <div class="event-comments">
        <%= render partial: 'comment/showallevent' %>
      </div>




      <div class="new-comment">
        <%= form_for [ @event, @comment ] do |f| %>
          <ul class="error-messages">
          <% @event.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
          <%= f.text_area :content, :placeholder =>"Comment here..." %>
          <br><br>
          <div class = "button" id = "comment-button">Leave Comment</div>
        <% end %>
      </div>

      <br><br><br>
      <br><br><br>
      <br><br><br>
    </div>


    <div id="right">

      <div class="event-buttons">
        <% if current_user %>
          <% if @event.creator.id == current_user.id %>
            <button style="font-family: verdana;" class="real-button " id="edit-button"><%= link_to "EDIT EVENT", edit_event_path(@event) %></button>
            <button  style="font-family: verdana;" class="real-button " id="delete-button"><%= link_to "DELETE EVENT", event_path(@event), method: :delete %></button>
            <% elsif @event.open? == false %>
            <h4 id="eventstatus">This Event is Full.</h4>
            <% elsif !current_user.joined_events.include?(@event) %>
            <button class="real-button" id="join-event" event="<%= @event.id %>">Join this Event!</button>
            <% else %>
            <button class="real-button" id="join-event" event="<%= @event.id %>">Un-Join this Event</button>
          <% end %>
        <% end %>
      </div>


      <div id="event-details-map"></div>
      <br><br>
      <h3>Interests of Attendees</h3>
      <%= render partial: 'events/intd3.html' %>
    </div>
  </div>
</div>


<div id="bottom">



</div>




<script>

  // JS for producing google map with marker
  var myLatLng;
  <% if @event.longitude.nil? %>
  myLatLng = {lat: <%= @current_location[0] %>, lng: <%=  @current_location[1] %> }
  <% else %>
  myLatLng = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
  <% end %>

  // Store the center location of the map; initially, either the event's location or the user's location
  var mapCenter = myLatLng;

  function initMap() {

    var map = new google.maps.Map(document.getElementById('event-details-map'), {
      zoom: 13,
      center: mapCenter
    });

    // only set marker if the event has a longitude
    <% if !@event.longitude.nil? %>
    setMarkers(map);
    <% end %>

    // Store current center of map prior to resize (Event fires when map is idle after panning or zooming)
    google.maps.event.addListener(map,'idle',function(event) {
      mapCenter = map.getCenter();
    });

    // Recenter the map on window resize
    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(mapCenter);
    });
  };

  function setMarkers(map) {
    var pinColor;

    var eventDate = new Date("<%= @event.date %>");
    var todaysDate = new Date();

    if(eventDate.setHours(0,0,0,0) == todaysDate.setHours(0,0,0,0)) {
      pinColor = "FF0000";
    } else {
      pinColor = "73B5AC";
    };

    var image = {
      url: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + pinColor,
      size: new google.maps.Size(21, 34),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(10, 34)
    };

    var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18, 1],
      type: 'poly'
    };

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: image,
      shape: shape,
      title: 'Playa playa',
      zIndex: 2
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    var contentString = "<%= @event.address %>"

    var infowindow = new google.maps.InfoWindow({
      content: contentString,
      maxWidth: 200
    });
  }

  $(document).ready(function(){
    $('body').on('click','#join-event', function(e) {
      var eventID = $(this).attr("event");
      var button = $(this);
      var currentSpot = $("#spots").text()
      $.ajax({
        url: "/users/ajax_join_event/" + eventID,
        method: "post",
        data: {}
      }).done(function (response) {
        if (response["status"] == 0) {
          $("#join-event").text("Join this Event!");
          $('#eventstatus').text("You have not joined this event");
          if ($("#spots").text() != "Unlimited Spots Available"){
            if (response["open"] == "1") {
              $("#spots").text(response["open"] + " Spot Left")
            } else {
              $("#spots").text(response["open"] + " Spots Left")
            }
          }
        } else {
          $("#join-event").text("Un-Join this Event");
          $('#eventstatus').text("You are attending this event");
          if ($("#spots").text() != "Unlimited Spots Available"){
            if (response["open"] == "1") {
              $("#spots").text(response["open"] + " Spot Left")
            } else {
              $("#spots").text(response["open"] + " Spots Left")
            }
          }
        };
      }).fail(function() {
        console.log("Error joining/unjoining event!");
      });
    })
  });

</script>

<script src="https://js.pusher.com/3.0/pusher.min.js"></script>

<script>
  var pusher = new Pusher('c7a6150d22d40eea7bca', {
    encrypted: true
  });

  var channel = pusher.subscribe('test_channel');
  channel.bind('new_comment', function(data) {
    console.log("New comment notification");
    $.ajax({url: "/events/" + <%= @event.id.to_s %> + "/comments_ajax",
      method: 'get',
      data: {}
    }).done(function(newList) {
      $('.event-comments').empty().append(newList);
    });
  });
</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvBDiolWNKT2Nn0wteaKxxKPQbk8ocjI&callback=initMap">
</script>
