<script> 
</script>

<style>
a {color: #000;}
#tile-container {
	vertical-align: top;
	color: #000;
	width: 90%;
	margin: auto;
	background-color: #EEA;
}

.bigtile {
	position: relative;
	text-align: center;
	vertical-align: top;
	display: inline-block;
/*	border: 1px solid black;
*/	width: 33%;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	margin-bottom: 1px;
}

.smalltile {
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 49%;
	height: 46%;
	margin: auto;
	border: 1px solid gray;
}

.category1 { background-color: #DDF; }
.category2 { background-color: #DFD; }
.category3 { background-color: #DFF; }
.category4 { background-color: #FDD; }
.category5 { background-color: #FDF; }
.category6 { background-color: #FFD; }
.category7 { background-color: #CCE; }
.category8 { background-color: #CEC; }
.category9 { background-color: #CEE; }
.category10 { background-color: #ECC; }
.category11 { background-color: #ECE; }

</style>

<div id="tile-container">



<% @user_appealing_events_by_groups.shuffle.each do |group| %>
		<% if group.count == 1 %>
			<div class="bigtile <%= "category"+group[0].activity.activity_categories.last.category_id.to_s %>" >

			<%= link_to group[0].name, group[0] %>
			<%= group[0].description %>
		<% else %>
			<div class="bigtile" >

			<% group.each do |activity| %>
				<div class="smalltile  <%= "category"+group[0].activity.activity_categories.last.category_id.to_s %>">
					<%= link_to activity.name, activity %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>

</div>
