  <script>
  $(document).ready(function() {

    $('#category-interest-buttons').on("click",".category_interest_button",function(e) {
      console.log("Button: " + $(this).val());
      ajaxReq = $.ajax({
                url: '/users/interests_handler',
                method: 'post',
                data: {"data":$(this).val()},
                dataType: 'json',
              });
      ajaxReq.done(function(response){
        var category = response["category_id"];
        if (response["action"] == 'a') {
          $("#category" + category).val("r," + response["user_id"] + "," + category)
          bgc = "#000";
          bgco = "#f6f6f6";
        } else {
          $("#category" + category).val("a," + response["user_id"] + "," + category)
          bgc = "#f6f6f6";
          bgco = "#000"
        }
        console.log("bgc is " + bgc);
        $("#category" + category).css("background-color",bgc);
        $("#category" + category).css("color",bgco);
        // $("#category" + category).animate({
        //   backgroundColor: bgc ,
        //   color: bgco
        // }, 500)
      })
    })
  })
  </script>
<div class="category-interest-buttons">
    <div style="width: 200px; display:block; margin: auto;" id="category-interest-buttons">
    <% @categories.each do |category| %>
      <% if is_interested?(category,@user) %>
        <button style="background-color: #000; color: #fff"
            id = "category<%= category.id %>"
            class = "category_interest_button"
            value = "r,<%=@user.id%>,<%=category.id %>" >
          <%=category.name %>
        </button>
      <% else %>
        <button style="background-color: #f6f6f6; color: #000"
            id = "category<%= category.id %>"
            class = "category_interest_button"
            value = "a,<%=@user.id%>,<%=category.id %>" >
          <%=category.name %>
        </button>
      <% end %>
      <br>
    <% end %>
    <a class="aButton" style="margin-left: -3.1em; height: 20px; width: 300px;" href="/users/<%= @user.id %>">SAVE INTERESTS</a>
    </div>
  </div>
