
<h1>Create a new activity!</h1>

<%= form_for @activity do |f| %>
  <div class="new-activity-form">
    <ul class="error-messages">
      <% @activity.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :all_categories  %>
      <%= f.text_field :all_categories %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  </div>
<% end %>
